.logo {
    position: relative;
    text-align: center;
    width: clamp(4rem, 100%, 36rem);
}

.logo-large .logo-text {
    font-size: clamp(2rem, 4.5vw, 4rem);
}

.logo-text {
    position: relative;
    margin-top: -1rem;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 1;
}

.logo-firebird {
    margin: auto;
    width: 50%;
    aspect-ratio: 1.91;
    background: 
        linear-gradient(45deg, rgba(255, 0, 131, 1) 0%, 
        rgba(255, 166, 0, 1) 100%);
    -webkit-mask-image: url('./../images/mighty-firebird.svg') no-repeat center center;
    -webkit-mask-size: contain;
    mask: url('./../images/mighty-firebird.svg') no-repeat center center;
    mask-size: contain;
}

.logo-large .logo-firebird {
    width: 100%;
}